@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Abel);

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background: #F2F3F3;
    font-family: 'Abel', sans-serif;
}
#correct{
    position: relative;
    display: none;
    width: 100vw;
    height: 100vh;
    background: #F2F3F3;
}
.entypo-check{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #0CA781;
    font-size: 150px;
    transform: translate(-50%,-50%);
}
#incorrect{
    position: relative;
    display: none;
    width: 100vw;
    height: 100vh;
    background: #F2F3F3;
}
#incorrect .entypo-cancel{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ED222C;
    font-size: 150px;
    transform: translate(-50%,-50%);
    z-index: 100;
}

/******************/

div#login{
    display: block;
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,0.7);
    border-radius: 2px;
    transform: translate(-50%,-50%);

}
div#login label{
    display: block;
    text-align: center;
    font-size: 32px;
    color: rgba(255,255,255,0.9);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 5px 0;
    font-weight: bold;
}
div#login input[type=text], div#login input[type=password]{
     width: 95%;
     height: 35px;
     background: rgba(255,255,255,0.1);
     border: 1px solid rgba(255,255,255,0.0);
     border-radius: 2px;
     color: rgba(255,255,255,0.9);
     font-family: 'Abel', sans-serif;
     text-align: center;
     font-size: 22px;
     font-weight: 100;
     line-height: 30px;
     letter-spacing: 2px;
     margin: 1.5% 2.5%;
 }
div#login input[type=text]:hover, div#login input[type=password]:hover{
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
}
div#login input[type=text]:focus, div#login input[type=password]:focus{
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 2px;
    outline: 0;
}
div#login input[type=submit]{
    display: block;
    height: 30px;
    width: 50%;
    float: left;
    color: rgba(255,255,255,1);
    background: transparent;
    border: 1px solid #0CA781;
    border-radius: 2px;
    margin: 10px 2.5%;
    font-family: 'Abel', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 500ms ease all;
}
div#login input[type=submit]:hover{
    background: #0CA781;
    transition: 500ms ease all;
}
div#login a{
    display: block;
    margin: 5px 40px;
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    transition: 500ms ease all;
}
div#login a:hover{
    color: #F2F3F3;
    text-decoration: none;
    transition: 500ms ease all;
}

/*********signup********/
div#signup{
    display: none;
    position: absolute;
    width: 35%;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    background: rgba(0,0,0,0.6);
    transform: translate(-50%,-50%);

}
div#signup label{
    display: block;
    text-align: center;
    font-size: 32px;
    color: rgba(255,255,255,0.9);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 5px 0;
    font-weight: bold;
}
div#signup input[type=text], div#signup input[type=password]{
    width: 95%;
    height: 35px;
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.0);
    border-radius: 2px;
    color: rgba(255,255,255,0.9);
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 100;
    line-height: 30px;
    letter-spacing: 2px;
    margin: 1.5% 2.5%;
}
div#signup input[type=text]:hover, div#signup input[type=password]:hover{
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 2px;
}
div#signup input[type=text]:focus, div#signup input[type=password]:focus{
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 2px;
    outline: 0;
}
div#signup input[type=submit]{
    display: block;
    height: 30px;
    width: 50%;
    float: left;
    color: rgba(255,255,255,1);
    background: transparent;
    border: 1px solid #0CA781;
    border-radius: 2px;
    margin: 10px 2.5%;
    font-family: 'Abel', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 500ms ease all;
}
div#signup input[type=submit]:hover{
    background: #0CA781;
    transition: 500ms ease all;
}
div#signup a{
    display: block;
    margin: 5px 40px;
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    transition: 500ms ease all;
}
div#signup a:hover{
    color: #F2F3F3;
    text-decoration: none;
    transition: 500ms ease all;
}
::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5);
    letter-spacing: 3px;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    font-weight: 100;
}
:-moz-placeholder { /* Firefox 18- */
    color: rgba(255,255,255,0.9);
    letter-spacing: 3px;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-weight: 100;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(255,255,255,0.9);
    letter-spacing: 3px;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-weight: 100;
}
:-ms-input-placeholder {
    color: rgba(255,255,255,0.9);
    letter-spacing: 3px;
    font-family: 'Abel', sans-serif;
    font-size: 18px;
    font-weight: 100;
}
.landing{
    width: 100vw;
    height: 50vh;
    background-image: url("../img/1.jpg");
    background-color: #1e2b33;
    -webkit-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    background-position: center;
}
div#header{
    width: 100vw;
    height: 50px;
    background: #0CA781;
}
div.user{
    float: right;
    width: 250px;
    height: 50px;
}
p#user{
    line-height: 50px;
    font-size: 18px;
}
#header > div > form > input[type="submit"]:nth-child(2){
    position: absolute;
    padding: 0 50px;
    background: transparent;
    font-size: 22px;
    font-weight: 500;
    line-height: 50px;
    right: 0px;
    top: 0;
    cursor: pointer;
}
#header > div > form > input[type="submit"]:nth-child(2):active{
    outline: 0
}
div#addword{
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0CA781;
}
div#addword label:first-child{
    display: block;
    color: #F2F3F3;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3px;
}
div#addword input[type="text"]{
    width: 40%;
    height: 30px;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 2px;
    color: #1e2b33;
}
div#addword input[type="submit"]{
    display: block;
    height: 30px;
    width: 200px;
    background: #12478A;
    color: #F2F3F3;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto 10px auto;
    cursor: pointer;
    transition: 700ms ease all;
}

div#addword input[type="submit"]:hover{
    background: #F2F3F3;
    color: #12478A;
    transition: 700ms ease all;
}
div#addword input[type="text"]:focus{
    outline: 0;
}

div#addword input[type="text"]::-webkit-input-placeholder{
    color: rgba(0,0,0,0.5);
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;

}
.center{
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
#newsession input[type="submit"]{
    width: 150px;
    height: 50px;
    background: #12478A;
    color: #F2F3F3;
    font-size: 20px;
    cursor: pointer;
}
div#session{
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0CA781;
}
div#session label:first-child{
    display: block;
    color: #F2F3F3;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 3px;
}
div#session input[type="text"]{
    width: 40%;
    height: 30px;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 2px;
    color: #1e2b33;
}
div#session input[type="submit"]{
    display: inline-block;
    height: 30px;
    width: 200px;
    background: #12478A;
    color: #F2F3F3;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto 10px auto;
    cursor: pointer;
    transition: 700ms ease all;
}

div#session input[type="submit"]:hover{
    background: #F2F3F3;
    color: #12478A;
    transition: 700ms ease all;
}
div#session input[type="text"]:focus{
    outline: 0;
}

div#session input[type="text"]::-webkit-input-placeholder{
    color: rgba(0,0,0,0.5);
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;
}
button#finish_session{
    display: inline-block;
    height: 30px;
    width: 200px;
    background: #D62629;
    color: #F2F3F3;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 auto 10px auto;
    cursor: pointer;
    transition: 700ms ease all;
}
button#finish_session:hover{
    background: #F2F3F3;
    color: #D62629;
    transition: 700ms ease all;
}
div#stat{

}